body {
  font-family: 'Roboto Slab', serif;
  color: #292929;
  font-size: 18px;
  height: 100vh;
}


.sg-navbar {
  padding: 1.2rem 1rem !important;
}

.sg-footer {
  padding: 1.2rem 1rem !important;
  background-color: #292929;
  color: #A2AEB6;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: 3.1pt;
  text-transform: uppercase;
}

.sg-footer-nav {
  line-height: 0;
}

.sg-nav .nav-item > a.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #454545;
  letter-spacing: 3.1pt;
  text-transform: uppercase;
}

.nav .nav-item > a.nav-link:hover {
  text-decoration: underline;
}

.nav-hero {
  font-family: 'Roboto Slab', serif;
  font-size: 72px;
  line-height: 4.5rem;
}

.nav-hero a.nav-link {
  color: #292929;
}

.nav-hero a.nav-link:hover {
  text-decoration: underline;
}

.newsletter-wrapper {
  border-left: 2px solid #292929;
  padding: 0 0.5rem;
}

input[type="email"] {
  border-radius: 0px !important;
  /*background-color: #292929;*/
  color: #fff;
  border: 1px solid #292929;
}

.sg-btn {
  border-radius: 0px !important;
  font-size: 12px;
  color: #292929;
  background-color: #fff;
  border: 1px solid #292929;
  padding: 0.6rem 5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3.1pt;
  text-transform: uppercase;
}

.sg-btn:hover {
    color: #fff;
    background-color: #292929;
    border-color: #292929;
}

@media (max-width: 575px) {

  body {
    font-size: 16px;
  }
  .nav-hero {
    font-size: 24px;
    line-height: 1rem;
  }

  .row {
    flex-direction: column;
    text-align: center;
  }

  .newsletter-wrapper {
    margin-top: 40px !important;
    border: 0;
  }

  .sg-footer {
    padding: 0.5rem 1rem;
    letter-spacing: 2.1pt;
  }
}
